body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}

.header-menu a {
  color: #fff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
}

.header-menu a::after {
content: "";
display: block;
height: 2px;
width: 0px;
margin-top: 4px;
background-color: #fff;
}

.header-menu a:hover::after {
  transition: 0.3s;
  width: 100%;
}

@media (max-width: 800px) {

.header-menu {
  gap: 20px;
}

  .header-menu a {
    background: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }

.header-menu a:hover {
  background-color: #2e2e2e;
}

.header a::after {
  display: none;
}

}